@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-vci93x');
	src:url('fonts/icomoon.eot?#iefix-vci93x') format('embedded-opentype'),
		url('fonts/icomoon.woff?-vci93x') format('woff'),
		url('fonts/icomoon.ttf?-vci93x') format('truetype'),
		url('fonts/icomoon.svg?-vci93x#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-coin:before {
	content: "\e601";
}
.icon-clock:before {
	content: "\e602";
}
.icon-bubbles:before {
	content: "\e603";
}
.icon-user:before {
	content: "\e604";
}
.icon-users:before {
	content: "\e605";
}
.icon-user2:before {
	content: "\e606";
}
.icon-spinner:before {
	content: "\e607";
}
.icon-search:before {
	content: "\e608";
}
.icon-settings:before {
	content: "\e609";
}
.icon-bars:before {
	content: "\e60a";
}
.icon-mug:before {
	content: "\e60b";
}
.icon-food:before {
	content: "\e60c";
}
.icon-airplane:before {
	content: "\e60d";
}
.icon-numbered-list:before {
	content: "\e60e";
}
.icon-menu:before {
	content: "\e62b";
}
.icon-tree:before {
	content: "\e60f";
}
.icon-brightness-medium:before {
	content: "\e610";
}
.icon-brightness-contrast:before {
	content: "\e611";
}
.icon-info:before {
	content: "\e612";
}
.icon-cancel-circle:before {
	content: "\e613";
}
.icon-checkmark-circle:before {
	content: "\e614";
}
.icon-close:before {
	content: "\e615";
}
.icon-checkmark:before {
	content: "\e616";
}
.icon-arrow-right:before {
	content: "\e617";
}
.icon-arrow-left:before {
	content: "\e618";
}
.icon-arrow-left2:before {
	content: "\e619";
}
.icon-code:before {
	content: "\e61a";
}
.icon-console:before {
	content: "\e61b";
}
.icon-googleplus:before {
	content: "\e61c";
}
.icon-facebook:before {
	content: "\e61d";
}
.icon-twitter:before {
	content: "\e61e";
}
.icon-github:before {
	content: "\e61f";
}
.icon-tux:before {
	content: "\e620";
}
.icon-html5:before {
	content: "\e621";
}
.icon-css3:before {
	content: "\e622";
}
.icon-chrome:before {
	content: "\e623";
}
.icon-firefox:before {
	content: "\e624";
}
.icon-IE:before {
	content: "\e625";
}
.icon-opera:before {
	content: "\e626";
}
.icon-paperplane:before {
	content: "\e627";
}
.icon-feather:before {
	content: "\e628";
}
.icon-thumbsup:before {
	content: "\e629";
}
.icon-thumbsdown:before {
	content: "\e62a";
}
